.slider {
  width: 600px;
  overflow: hidden;
  position: relative;
}

.slider .container {
  white-space: nowrap;
  position: relative; /*para que el efecto demovimiento se realize*/
}

.slider .container * {
  white-space: normal;
}
.slider img {
  width: 100%;
  display: inline-block;
  margin-right: -4px;
}
